@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply bg-zinc-900
}

.line-title {
    @apply after:block after:w-1/2 after:h-[1px] after:bg-sky-400
}

.card-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/* width */
.container::-webkit-scrollbar {
    @apply w-1
}

/* Track */
.container::-webkit-scrollbar-track {
    @apply bg-inherit;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
    @apply bg-zinc-600
}